<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chitter</title>
  </head>
  <body>
    <h1>Chitter</h1>
    <p>Log In</p>
    <form action="/login" method="post">
      <br>Username: <input type="text" name="handle"></br>
      <br>Password: <input type="password" name="password"></br>
      <br><button type="submit">Submit</button></br>
    </form>
    <br></br>
    <p>Sign up for Chitter!</p>
    <form action="/createUser" method="post">
      <br>Username: <input type="text" name="newhandle"></br>
      <br>Password: <input type="password" name="newpassword"></br>
      <br><button type="submit">Submit</button></br>
    </form>
  </body>
</html>